:root {
    --bg-primary: #282b3a;
    --bg-primary-rgb: 80, 255, 197;
    --bg-secondary: #50ffc5;
    --bg-secondary-rgb: 80, 255, 197;
    --bg-opacity-primary: 1;
    --bg-opacity-secondary: 0.5;
    --link-hover-color: #1d3ecf;
    --bs-gutter-x: 56px;
}

/* START: Link Styles */
a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none !important;
    box-shadow: none !important;
}

a:focus-visible {
    outline-offset: 1px;
}

a:not([href], [class]),
a:not([href], [class]):hover {
    color: inherit;
    text-decoration: none;
}

/* END: Link Styles */

/* START: Section Styles */
.section.primary {
    /* stylelint-disable-next-line color-function-alias-notation */
    background: rgba(var(--bg-primary-rgb), var(--bg-opacity-primary));
}

.section.secondary {
    /* stylelint-disable-next-line color-function-alias-notation */
    background: rgba(var(--bg-secondary-rgb), var(--bg-opacity-secondary));
}

.section.with-gutters>div:first-of-type {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (width >=36em) {
    .section.with-gutters>div:first-of-type {
        max-width: 33.75rem;
    }
}

@media (width >=48em) {
    .section.with-gutters>div:first-of-type {
        --bs-gutter-x: 32px;

        max-width: 45rem;
    }
}

@media (width >=62em) {
    .section.with-gutters>div:first-of-type {
        max-width: 60rem;
    }
}

@media (width >=75em) {
    .section.with-gutters>div:first-of-type {
        max-width: 71.25rem;
    }
}

@media (width >=87.5em) {
    .section.with-gutters>div:first-of-type {
        max-width: 76rem;
    }
}

/* END: Section Styles */

/* START: two-col-text-title Styles */

.section .two-col-text-title {
  background-color: rgb(40 43 58);
}


/* END: two-col-text-title Styles */
